<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdsa.projectn">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true"/>
        <meta-data android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
        android:value="true"/>
        <meta-data android:name="com.samsung.android.sdk.multiwindow.penwindow.enable"
            android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.STYLE"
            android:value="fixedRatio"/>
        <meta-data android:name="com.sec.android.support.multiwindow"
            android:value="true"/>
     <!--//   <meta-data android:name="com.samsung.android.sdk.multiwindow.style"-->
     <!--/>/       android:value="forceTitleBar|fullscreenOnly" />-->
        <activity android:name=".ProjectB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>